apiVersion: v1
kind: Secret
metadata:
  name: netbox-secrets
  namespace: netbox
type: Opaque
stringData:
  db_password: "REPLACE_WITH_DB_PASSWORD"
  redis_password: "REPLACE_WITH_REDIS_PASSWORD"
  secret_key: "REPLACE_WITH_LONG_RANDOM_STRING_50_PLUS_CHARACTERS"